name: "CD - GDAL Base Image"
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'Dockerfile'
  schedule:
    - cron: "0 1 * * 1-5"

jobs:
  build_and_push:
    name: "Build and push GDAL Base Image"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: "ghcr.io"
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker images
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
        with:
          push: true
          context: .
          tags: "ghcr.io/raynigon/raylevation-gdal-base:3.8.5"
